<!DOCTYPE html>
<html lang="en">
  <head data-tid="1508211126">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Glenn Robinson is a Web Developer specialising in JavaScript including React from Leeds in the UK">
    <meta name="author" content="Glenn Robinson">
    <meta name="theme-color" content="#262626"/>
    <meta name="msapplication-navbutton-color" content="#262626"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <title>Glenn Robinson - Web Developer Designer UK England Leeds West Yorksire</title>
    
    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&display=swap' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" href="<%= require('./img/apple-touch-icon.png').default %>" sizes="180x180">
    <link rel="icon" href="<%= require('./img/favicon-16x16.png').default %>" sizes="16x16">
    <link rel="icon" href="<%= require('./img/favicon-32x32.png').default %>" sizes="32x32">
    <link rel="shortcut icon" href="<%= require('./img/favicon.ico').default %>">
    <script>
      document.documentElement.className = 'js';
    </script>
  </head>

  <body>
    <nav id="mainNav">
        <button id="navButton" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
        </button>
        <div id="navBar">
          <a class="page-scroll logo" href="#page-top" aria-label="back to top">GR.</a>
          <ul>
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
    </nav>

    <header id="page-top">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Glenn Robinson</h1>
          <hr>
          <div class="header-content-inner-sections">
            <div>
              <p class="subheading">Browser<br/>Engineer</p>
              <a href="#about" class="page-scroll">About</a>
            </div>
            <div>
              <a href="mailto:glennr777@gmail.com">E: glennr777@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="main-content">
      <div id="about" class="container">
        <div class="container-header">
          <h2>Almost 2 decades of experience</h2>
          <p class="text-faded">Working in development and testing within the financial sector for almost 20 years I&apos;ve had to use all my creative skills to discover the best ways of getting things done, often within strict restrictions.</p>
          <p>The bulk of my experence comes from working on transaction based Secure Internet Banking, but, I&apos;ve also developed Google&nbsp;Maps&nbsp;API based Web Apps, automated processes (web &amp; office based systems), interactive demostrations, calculators and many other interesting things.</p>
          <p>I have years of customer facing production experience of JavaScript (React, Angular, NodeJS, Redux), Java (AEM, IBM Websphere Portal), Visual Basic (Automation from Excel/Word to JSON/XML) and other associated technologies, including understanding WCAG 1.0/2.0 accessibility standards.</p>
        </div>
        <div class="container-section">  
          <ul class="icons">
            <li class="icon-box">
              <i class="fab fa-4x fa-js-square"></i>
              <h3 class="sr-only">JavaScript</h3>
            </li>
            <li class="icon-box">
              <i class="fab fa-4x fa-react"></i>
              <h3 class="sr-only">Still got the love</h3>
            </li>
            <li class="icon-box">
              <i class="fab fa-4x fa-html5"></i>
              <h3 class="sr-only">HTML 5</h3>
            </li>
            <li class="icon-box">
              <i class="fab fa-4x fa-css3"></i>
              <h3 class="sr-only">CSS 3</h3>
            </li>
          </ul>
        </div>
      </div>

      <div id="contact" class="container">
        <div class="container-header">
          <h2>Say( 'Hello world!' );</h2>
          <p>I'm currently working for the same company in the financial sector on some pretty cool projects, so not currently looking for any assignments. Don't let this stop you saying Hi though, things change!</p>
          <p>You can contact me through the following methods:</p>
        </div>
        <div class="container-section">
          <ul class="icons">
            <li class="icon-box">
              <a
              class="contact-item"
              href="https://www.linkedin.com/in/glenn-robinson-88b6977a/"
              title="Linked-in"
            >
              <i class="fab fa-linkedin fa-4x"></i>
            </a>
            </li>
            <li class="icon-box">
              <a
                class="contact-item"
                href="mailto:glennr777@gmail.com"
                title="Email glennr777@gmail.com"
              >
                <i class="fab fa-google fa-4x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/8.1.0/cash.min.js" integrity="sha512-sgDgZX/GgfD7qSeMjPN/oE9EQgXZJW55FIjdexVT60QerG2gAWhR9QDQEGt3O90Dy9jVcwMWsoTMhLgldIiKXw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</html>
